@import 'think201-wp';

.er_success_msg
{
    font-size: 20px;
	padding-left: 15px;
	color: #368000;
}

.er-msg
{
    font-size: 16px;
    display: none;
}

.er-fields-container
{
    margin: 10px 0;
}

.er-fields-container input, 
.er-fields-container textarea, 
.er-fields-container select
{
}

#er-add-field
{
	cursor: pointer;
	font-size: 16px;
}

.er-fields-set input 
{
    margin: 5px 0;    
}

.er-inputs
{
    position: relative;
}

.er-remove-field
{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    color: #ff0010;
    font-size: 18px;
    z-index: 99;
}